.link {
  color: white;
  margin: 5px;
  min-width: fit-content;
}

/* .link::before {
  content: "1";
  color: transparent;
  max-width: 2px !important;
  min-height: 1rem;
  background-color: rgb(145, 121, 252);
  margin: 2px;
  margin-right: 5px;
} */

.active {
  color: rgb(78, 243, 142);
  font-weight: bold;
  margin: 5px;
  min-width: fit-content;
}
.active::before {
  content: "1";
  color: transparent;
  max-width: 2px !important;
  min-height: 1rem;
  background-color: rgb(185, 9, 255);
  margin: 2px;
  margin-right: 5px;
}

.navBar {
  margin: 0px auto;
  padding: 10px;
  width: 100%;
  min-width: 200px;
  min-height: 80px;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5));
  color: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

@media only screen and (max-width: 500px) {
  .navBar {
    flex-direction: column;
    align-items: flex-start;
  }
}
